body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  margin: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 50px 100px;
}

img {
  width: 50px;
  padding: 20px;
}

nav {
  align-items: center;
  background-color: #aad5d7;
  color: #264e70;
  display: flex;
  justify-content: space-around;
  height: 100px;
}

.cart-item-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #aad5d7;
  margin: 20px;
}

.title {
  padding: 50px;
  text-align: center;
  color: #aad5d7;
  font-size: 2em;
  letter-spacing: 0.25em;
  font-weight: 700;
}

.cart-headings {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
