body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255, 255, 255);
  /* max-width: 80%;
  display: flex;
  align-self: center; */
}

a {
  text-decoration: none;
}

/* label {
  display: block;
} */

nav a {
  /* display: inline-block; */
  margin: 0.5em;
  width: 30%;
  color: black;
}

form div {
  margin: 1em;
  display: inline-block;
}

.div-all-products {
  display: flex;
  margin: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px 100px;
}

.each-wine-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-all-products {
  align-self: center;
  width: auto;
  height: 200px;
}

.div-each-product {
  padding: 1rem;
  width: 350px;
  height: 400px;
  /* background: #e2f6f7; */
  display: flex;
  flex-direction: column;
}

.txt-each-product {
  align-self: center;
}

.div-each-product .btn-large {
  align-self: center;
}

.product-name {
  font-weight: bold;
  color: black;
}

.product-name:hover {
  color: #9e2666;
}
.cart-item-container img {
  width: auto;
  height: 50px;
  padding: 20px;
}

.cart-item-container a {
  width: 60%;
}

nav {
  align-items: center;
  background-color: #edecfa;
  color: #264e70;
  display: flex;
  justify-content: space-around;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
}

nav a:hover {
  color: #9e2666;
  font-weight: bold;
}

.cart-item-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #edecfa;
  margin: 20px;
}

.title {
  padding: 50px;
  text-align: center;
  color: rgb(96, 60, 110);
  font-size: 2em;
  letter-spacing: 0.25em;
  font-weight: 700;
}

.cart-headings {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-large {
  margin: 25px;
  outline: none;
  width: 160px;
  height: 45px;
  padding: 10px 25px;
  border: 2px solid #7e2655;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-large:hover {
  border: none;
  color: #ffffff;
  background: rgb(96, 60, 110);
}

.logo {
  padding: 0px;
  margin: 0px;
  width: 30%;
  height: 30%;
}

.container-main-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-main {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  align-self: center;
  background-position: top right;

  /* opacity: 0.8; */
}

#welcome-text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 3em;
  /* position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: rgb(96, 60, 110);
  /* text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.7); */
}

.container-confirmation {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-confirmation {
  margin: 100px;
  width: 30%;
  height: auto;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.img-wine {
  width: auto;
  height: 400px;
  align-self: center;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 10px;
  vertical-align: text-top;
}

.product-details button {
  align-self: center;
}

/* login */
.text-center {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 23px;
  margin: -50px 0 80px 0;
  display: block;
  text-align: center;
}
.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #edecfa;
  border-radius: 3px;
  padding: 70px 100px;
}
.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: rgb(180, 180, 180);
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  margin: 10px;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}
.btn {
  color: rgb(0, 0, 0);
  background-color: rgb(96, 60, 110);
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}
/* 
.div-cart {
  width: 80%;
  display: flex;
  align-self: center;
  flex-direction: column;
} */
.cart-total-price {
  text-align: end;
  width: 90%;
}

.qty-dropdown {
  width: 50px;
  margin: 5px;
}

.cart-item-qty-price-container {
  display: flex;
  align-items: center;
}

.qty-dropdown {
  height: 20px;
}

.cart-item-qty-price-container ul {
  width: 80px;
}

.price-total-per-wine {
  color: rgb(85, 9, 116);
  font-weight: bold;
}

.conf {
  text-align: center;
  color: rgb(96, 60, 110);
  font-size: 2em;
  letter-spacing: 0.25em;
  font-weight: 700;
}

.select-wine-label {
  font-size: 20px;
  margin-right: 10px;
  letter-spacing: 0.1em;
}

.wine-drop {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.dropdown-winetype {
  width: 70px;
}

#nav-login {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

#checkout-container {
  display: flex;
  justify-content: flex-end;
}
